Source: python-stack-data
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Gordon Ball <gordon@chronitis.net>
Section: python
Priority: optional
Build-Depends: cython3 <!nocheck>,
               debhelper-compat (= 13),
               dh-sequence-python3,
               pybuild-plugin-pyproject,
               python3-all,
               python3-all-dev <!nocheck>,
               python3-asttokens <!nocheck>,
               python3-executing (>= 1.2.0) <!nocheck>,
               python3-littleutils <!nocheck>,
               python3-pure-eval <!nocheck>,
               python3-pygments <!nocheck>,
               python3-pytest <!nocheck>,
               python3-setuptools,
               python3-setuptools-scm,
               python3-typeguard <!nocheck>
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-stack-data
Vcs-Git: https://salsa.debian.org/python-team/packages/python-stack-data.git
Homepage: https://github.com/alexmojaki/stack_data
Rules-Requires-Root: no

Package: python3-stack-data
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Better tracebacks for Python
 This is a library which extracts data from stack frames and tracebacks,
 particularly to display more useful tracebacks than Python's default.
